{
  "extends": "eslint:recommended",
  "ecmaFeatures": {
    "modules": true,
    "jsx": true
  },
  "parser": "babel-eslint",
  "plugins": ["react"],
  "rules": {
    "react/jsx-uses-react": 1
  },
  "env": {
    "node": true,
    "browser": true
  }
}
