html {
  font-family: Helvetica, Arial, sans-serif;
  font-color: #333;
  text-rendering: optimizelegibility;
}

input, select, button, textarea {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
}

img {
  vertical-align: middle;
}

a:link {
  text-decoration: none;
  color: #213483;
}

a:visited {
  text-decoration: none;
  color: #213483;
}

a:hover {
  text-decoration: none;
  color: #4763d1;
}

a:active {
  text-decoration: none;
}

h1 {
  margin: 10px;
  font-size: 32px;
  font-weight: bold;
}

h2 {
  margin: 10px;
  font-size: 14px;
  font-weight: normal;
}

.code {
  font-family: monospace;
  font-size: 14px;
  font-weight: bold;
}

#content {
  text-align: center;
}


/* progress bar */

.scene {
  width: 200px;
  height: 200px;
  margin: 100px auto 0 auto;
  border: solid #666 1px;
  padding: 5px;
}

.progress-bar-wrapper {
  padding-top: 62px;
  width: 200px;
}

.progress-bar-text {
  text-align: center;
  font-size: 24px;
  margin-bottom: 2px;
}

.progress-bar {
  background-color: black;
  border-radius: 13px; /* (height of inner div) / 2 + padding */
  padding: 3px;
}

.progress-bar div {
   width: 0%; /* overridden by javascript */
   height: 20px;
   background-color: orange;
   border-radius: 10px;
}
